<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../static/images/logo.png">
<title>HEXACORE</title>

<!-- Bootstrap core CSS -->
<link href="static/styles/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/styles/main.css" rel="stylesheet">
<link href="static/styles/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> <!--Header Styele fnt-->
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<link href="static/styles/animate-custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
<script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#home">HEXACORE</a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="/bot"      > HEXABOT</a></li>
          <li> <a href="#home"     > HOME</a></li>
          <li> <a href="#about"    > ABOUT US</a></li>
          <li> <a href="#news"     > NEWS</a></li>
          <li> <a href="#booking"  > BOOKING</a></li>
          <li> <a href="#typofcar" > TYPE OF CAR</a></li>
          <li> <a href="#team"     > TEAM</a></li>
          <li> <a href="#contact"  > CONTACT</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
</div>


<!-- ==== HEADERWRAP ==== -->
<div id="home" name="home">
  <header class="clearfix">
    </header>
</div>
<hr>
<!-- /headerwrap --> 

          
          <!-- ==== ABOUT ==== -->
          <div id="about" name="about">
            <div class="container">
              <div class="row white">
                <div class="col-md-6"> <img class="img-responsive" src="static\images\about\pict.about.png"> </div>
                <div class="col-md-6">
                  <h3>About us</h3>
                  <p>Hexacore adalah sebuah platform chatbot berbasis situs web inovatif yang menawarkan pelayanan penyewaan mobil 24 jam non-stop yang ditenagai oleh kecerdasan buatan. Hexacore adalah solusi revolusioner untuk memudahkan penyewaan mobil Anda secara online.
                    Dengan Hexacore, Anda memiliki akses ke layanan penyewaan mobil yang selalu siap melayani, tanpa batasan waktu. Ini adalah masa depan penyewaan mobil, di mana kemudahan dan kenyamanan selalu tersedia, siang dan malam. 
                    Jadikan Hexacore sebagai teman setia Anda dalam mengakses kendaraan impian Anda dengan mudah, cepat, dan efisien. Selamat datang di era baru dalam penyewaan mobil online!.</p>
                </div>
              </div>
              <!-- row --> 
            </div>
          </div>
          <!-- container --> 
          
          <!-- ==== news ==== -->
          <div id="news" name="news">
            <div class="container">
              <div class="row">
                <h2 class="centered">NEWS</h2>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                  <p class="large">Berikut layanan yang dapat kami berikan dalam website Hexacore</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hebot.png" alt="" style="width: 250px;">
                  <h3>HEXABOT</h3>
                  <p>Hexabot merupakan chatbot yang disediakan oleh website Hexacore.</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hecu.png" alt="" style="width: 250px;">
                  <h3>HEXACUACA</h3>
                  <p>Sebelum menentukan tanggal liburan kamu di Bandung, yuk cek cuaca agar liburan kamu menyenangkan!</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hefa.png" alt="" style="width: 250px;">
                  <h3>HEXAFACT</h3>
                  <p>Berikut ulasan-ulasan mobil terbaru 2023 di Rental Mobil Hexacore.</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hehi.png" alt="" style="width: 250px;">
                  <h3>HEXAHITS</h3>
                  <p>Berikut rekomendasi wisata kuliner enak yang wajib kamu kunjungi di Bandung!</p>
                </div>
              </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hepro.png" alt="" style="width: 250px;">
                  <h3>HEXADISC!!</h3>
                  <p>Segera pesan mobil liburan kamu dan dapatkan promo yang ditawarkan!</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hetic.png" alt="" style="width: 250px;">
                  <h3>HEXATICISM</h3>
                  <p>Hexaticism merupakan tempat memberikan kritik dan saran untuk website Hexacore</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hetip.png" alt="" style="width: 250px;">
                  <h3>HEXATIPS</h3>
                  <p>Berikut 10 tips yang dapat kamu perhatikan ketika memilih mobil pada Rental Mobil.</p>
                </div>
                <div class="col-lg-3 callout"> <img src="static\images\news\hetri.png" alt="" style="width: 250px;">
                  <h3>HEXATRIP</h3>
                  <p>Berikut rekomendasi tempat wisata yang
                    wajib dikunjungi ketika jalan-jalan di Bandung!</p>
                </div>
              </div>  
              </div>
              <!-- row --> 
            </div>
          </div>
          <!-- container --> 

          
          
           <!-- ==== booking ==== -->
          <div id="booking" name="booking">
            <div class="container">
              <div class="row centered">
                <div class="row white">
              <hr>
              <h2 class="centered">BOOKING</h2>
              <hr>
                <div class="col-md-6"> <img class="img-responsive" src="static\images\about\booking.png"> </div>
                 <div class="col-md-6">
                  <h4>Untuk informasi lebih lanjut mengenai teknis pemesanan dan informasi seputar booking, silakan hubungi kami di nomor kontak berikut:</h4>
                  <hr>
                  <div class="col-md-5"> <i class="fa fa-phone fa-1x"></i>
                    <p>Zakiy Yusron : 089647458999 </p>
                  </div>
                  <div class="col-md-7"> <i class="fa fa-envelope-o fa-1x"></i>
                    <p>hexacoreidn@gmail.com</p>
                  </div>
                  <div class="container">
                    <div class="row">
                    </div>
                  </div>
                    </div>
              </div>
  
          <!-- ==== news ==== -->
          <div id="typofcar" name="typofcar">
            <div class="container">
              <div class="row">
                <h2 class="centered">Type Of Car</h2>
                <hr>
                <div class="col-lg-8 col-lg-offset-2 centered">
                  <p class="large">Mari kita jelajahi berbagai opsi mobil yang bisa Anda temukan di Hexacore, agar Anda dapat menemukan yang paling sesuai dengan kebutuhan dan preferensi perjalanan Anda.</p>
                </div>
              </div>
              <!-- /row -->
              <div class="container">
                <div class="row"> 
                  
                  <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                            a modal for each of your projects. -->
          
        <!-- MODAL 1 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">TOYOTA VIOS</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\vios.png" alt=""></p>
                <p>Tahun 2015</p>
                <p>Automatic dan Manual</p>
                  <p> 5 Penumpang,  1500 CC</p>
                      <p> Rp 750.000,00 / 24 jam</p>
                <p><b><a href="#booking" >BOOKING NOW!</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- MODAL 2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">HONDA MOBILIO</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\lio.png" alt=""></p>
                <p>Tahun 2015</p>
                  <p>Automatic dan Manual</p>
                    <p>7 Penumpang, 1500 CC</p>
                        <p>Rp 500.000,00 / 24 jam</p>
                <p><b><a href="#booking">BOOKING NOW!</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 

        <!-- MODAL 3 -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">DAIHATSU TERRIOS</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\terrios.png" alt=""></p>
                <p>Tahun 2018</p>
                  <p>Automatic dan Manual</p>
                    <p>7 Penumpang, 1500 CC</p>
                      <p>Rp 550.000,00 / 24 jam</p>
                <p><b><a href="#booking">BOOKING NOW!</a></b></p>s
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 4 -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">NISSAN X-TRAIL</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\trail.png" alt=""></p>
                <p>Tahun 2015</p>
                  <p>Automatic dan Manual</p>
                    <p>7 Penumpang, 2000 CC</p>
                      <p>Rp 500.000,00 / 24 jam</p>
                <p><b><a href="#booking">BOOKING NOW!</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 5 -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">DAIHATSU ROCKY</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\rocky.png" alt=""></p>
                <p>Tahun 2021</p>
                  <p>Automatic dan Manual</p>
                    <p>7 Penumpang, 1000 CC</p>
                      <p>Rp 550.000,00 / 24 jam</p>
                <p><b><a href="#booking">BOOKING NOW!</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

        <!-- MODAL 6 -->
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">NISSAN LIVINA</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\images\mobil\livina.png" alt=""></p>
                <p>Tahun 2017</p>
                  <p>Automatic dan Manual</p>
                    <p>7 Penumpang,  1499 CC</p>
                      <p>Rp 500.000,00 / 24 jam</p>
                <p><b><a href="#booking">BOOKING NOW!</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

       <!-- PORTFOLIO IMAGE 1 -->
       <div class="col-md-4 ">
        <div class="grid mask">
          <figure> <img class="img-responsive" src="static\images\mobil\vios.png" alt="">
            <figcaption>
              <h5>TOYOTA VIOS</h5>
              <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
          </figure>
          <!-- /figure --> 
        </div>
        <!-- /grid-mask --> 
      </div>

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\images\mobil\lio.png" alt="">
              <figcaption>
                <h5>HONDA MOBILIO</h5>
                <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\images\mobil\terrios.png" alt="">
              <figcaption>
                <h5>DAIHATSU TERRIOS</h5>
                <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
      </div>
      <!-- /row --> 
      
      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\images\mobil\trail.png" alt="">
              <figcaption>
                <h5>NISSAN X-TRAIL</h5>
                <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\images\mobil\rocky.png" alt="">
              <figcaption>
                <h5>>DAIHATSU ROCKY</h5>
                <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\images\mobil\livina.png" alt="">
              <figcaption>
                <h5>NISSAN LIVINA</h5>
                <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /row --> 
  </div>
</div>
<!-- /container -->  

          <!-- ==== TEAM MEMBERS ==== -->
<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">Meet Our Team</h2>
      <hr>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\indy.png" height="150px" width="150px" alt="">
        <h4>Azzahra Nindya Putri</h4>
        <p>Modelling</p>
        <a href=" https://instagram.com/azzahranindya16?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a> 
      </div>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\fahri.jpeg" height="150px" width="150px" alt="">
        <h4>Fahri Ilyasa</h4>
        <p>Front-End</p>
        <a href="https://instagram.com/fahri_ilyasa/"><i class="fa fa-instagram"></i></a> 
      </div>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\sisca.png" height="150px" width="150px" alt="">
        <h4>Fransisca Regina Deomega</h4>
        <p>Design UI/UX</p>
        <a href="https://instagram.com/siscareginad?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a> 
      </div>
      </div>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\dewi.png" height="150px" width="150px" alt="">
        <h4>Niluh Putu Mutiara Kartika Dewi</h4>
        <p>Deployment</p>
        <a href="https://instagram.com/niluhputudw?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a> 
      </div>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\rahma.png" height="150px" width="150px" alt="">
        <h4>Rachma Sundhari </h4>
        <p>Design UI/UX</p>
        <a href="https://instagram.com/rachmasunnnn"><i class="fa fa-instagram"></i></a>
       </div>
      <div class="col-lg-4 centered"> <img class="img img-circle" src="static\images\team\jaki.png" height="150px" width="150px" alt="">
        <h4>Zakiy Yusron</h4>
        <p>Deployment</p>
        <a href="https://instagram.com/zaktit?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a>
      </div>
      </div>
        <p class="large">Website Hexacore ini dibuat berdasarkan tim untuk menyelesaikan projek akhir kami di Orbit Future Academy. Kami berasal dari universitas yang berbeda dan dipertemukan dalam Studi Independen Kampus Merdeka. Untuk mengenal kami lebih lanjut, silahkan kunjungi media sosial kami untuk tanya-tanya lebih detail mengenai website Hexacore.</p>
      </div>
    </div>
  </div>
  <!-- row --> 
</div>
<!-- container --> 
          
          <!-- ==== CONTACT ==== -->
          <div id="contact" name="contact">
            <div class="container">
              <div class="row">
                <h2 class="centered">Contact Us</h2>
                <hr>
                <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
                  <p>Jakarta, Indonesia</p>
                </div>
                <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
                  <p>hexacoreidn@gmail.com</p>
                </div>
                <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
                  <p>0896-4745-8999</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                  <p>Terima kasih kepada semua pelanggan Hexacore yang telah memilih layanan kami. 
                    Kami selalu ingin mendengar masukan Anda. Jika Anda memiliki saran atau kritik, silakan hubungi kami melalui kontak yang telah kami sediakan agar kami dapat mengembangkan kinerja lebih baik lagi. Kami berharap Anda memiliki pengalaman perjalanan yang luar biasa bersama Hexacore.</p>
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                  <!-- form --> 
                </div>
              </div>
              <!-- row --> 
              
            </div>
          </div>
          <!-- container -->
          
          <div id="footerwrap">
            <div class="container">
              <div class="row">
                <div class="col-md-8"> <span class="copyright">© 2023 <a href="index.html" rel="rev-logo">Hexacore.</a> All Rights Reserved</span> </div>
                </div>
              </div>
            </div>
          </div>
          
<script type="text/javascript" src="static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/js/retina.js"></script> 
<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="static/js/smoothscroll.js"></script> 
<script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>
</html>